#include <windows.h>

1 ICON "internal/app/icons/ShowAllFiles1.ico"

1 VERSIONINFO
FILEVERSION 0,0,1,0
PRODUCTVERSION 0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Kamaran Layne\0"
      VALUE "FileDescription", "ShowAllFiles\0"
      VALUE "FileVersion", "0.0.1.0\0"
      VALUE "InternalName", "ShowAllFiles\0"
      VALUE "OriginalFilename", "ShowAllFiles.exe\0"
      VALUE "ProductName", "ShowAllFiles\0"
      VALUE "ProductVersion", "0.0.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END