#include <windows.h>

#define xstr(x) #x
#define str(x) xstr(x)

#ifndef VERSION
  #define VERSION 0.0.0
#endif

#ifndef FVERSION
  #define FVERSION 0,0,0,0
#endif

#ifndef COPYYEAR
  #define COPYYEAR 2025
#endif

#ifndef BUILDDATE
  #define BUILDDATE now
#endif

#ifndef BUILDCOMMIT
  #define BUILDCOMMIT HEAD
#endif

#define PRODUCTNAME "ShowAllFiles"
#define COMPANYNAME "Kamaran Layne"

1 ICON "internal/app/icons/ShowAllFiles1.ico"

1 VERSIONINFO
FILEVERSION FVERSION
PRODUCTVERSION FVERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "LegalCopyright", "Copyright \xA9 " str(COPYYEAR) " " COMPANYNAME "\0"
      VALUE "CompanyName", COMPANYNAME
      VALUE "FileDescription", PRODUCTNAME
      VALUE "OriginalFilename", PRODUCTNAME ".exe\0"
      VALUE "InternalName", PRODUCTNAME
      VALUE "ProductName", PRODUCTNAME
      VALUE "FileVersion", str(VERSION)
      VALUE "ProductVersion", str(VERSION)
      VALUE "BuildCommit", str(BUILDCOMMIT)
      VALUE "BuildDate", str(BUILDDATE)
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
